In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv("/content/Social_Network_Ads.csv")

In [3]:
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [4]:
df=data.drop(['User ID'],axis=1) #removing unwanted column

In [5]:
df['Gender']=df['Gender'].apply({'Male':1,'Female':2}.get)

In [6]:
df.head()

   Gender  Age  EstimatedSalary  Purchased
0       1   19            19000          0
1       1   35            20000          0
2       2   26            43000          0
3       2   27            57000          0
4       1   19            76000          0

In [7]:
x=df[['Gender','Age','EstimatedSalary']]
y=df['Purchased']

In [8]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.75) #75% of data for training and rest 25% of data for testing

creating a ML model using KNN algorithm

In [9]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=5) #n_neighbors is value of K=5

In [10]:
#training - .fit()
knn.fit(x_train,y_train)

KNeighborsClassifier()

In [11]:
#prediction - .predict()
y_pred=knn.predict(x_test)

In [12]:
y_pred

array([0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0,
       1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1])

In [13]:
#calculating the accuracy of the ML model
from sklearn.metrics import confusion_matrix, accuracy_score
cm=confusion_matrix(y_test,y_pred)
ac=accuracy_score(y_test,y_pred)

In [14]:
print(cm)

[[56  6]
 [12 26]]

In [15]:
print(ac)

0.82

H.W. Calculate the result of purchase for a new customer