Step 1 : Gathering data

In [1]:
#importing packages
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv("/content/insurance.csv")

In [3]:
data.head()

   age     sex   bmi  children smoker     region  expenses
0   19  female  27.9         0    yes  southwest  16884.92
1   18    male  33.8         1     no  southeast   1725.55
2   28    male  33.0         3     no  southeast   4449.46
3   33    male  22.7         0     no  northwest  21984.47
4   32    male  28.9         0     no  northwest   3866.86

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   expenses  1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

Step 2 : Data preprocessing

In [5]:
#one hot encoding - will convert the categorical variables into numerical variables
data['sex']=data['sex'].apply({'male':1,'female':0}.get)

In [6]:
data.head()

   age  sex   bmi  children smoker     region  expenses
0   19    0  27.9         0    yes  southwest  16884.92
1   18    1  33.8         1     no  southeast   1725.55
2   28    1  33.0         3     no  southeast   4449.46
3   33    1  22.7         0     no  northwest  21984.47
4   32    1  28.9         0     no  northwest   3866.86

In [7]:
data['smoker']=data['smoker'].apply({'yes':1,'no':0}.get)
data['region']=data['region'].apply({'southeast':1,'southwest':0,'northeast':2,'northwest':3}.get)

In [8]:
data.head()

   age  sex   bmi  children  smoker  region  expenses
0   19    0  27.9         0       1       0  16884.92
1   18    1  33.8         1       0       1   1725.55
2   28    1  33.0         3       0       1   4449.46
3   33    1  22.7         0       0       3  21984.47
4   32    1  28.9         0       0       3   3866.86

Step 3 : Dividing the data into dependent and independent variables

In [9]:
x=data[['age','sex','bmi','children','smoker','region']] #independent variables
y=data['expenses'] #dependent variable

Step 4 : Splitting the data into training and testing set

In [10]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2) 
#test_size=0.2 that means 20% of the data will be used for testing the accuracy of the model 
#and 80% of the data will be used for making the model learn

Step 5 : Creating a ML model using Linear Regression algorithm

In [12]:
#import Linear Regression algorithm
from sklearn.linear_model import LinearRegression
linear_model=LinearRegression() #we are activating the algorithm for use

In [13]:
#training the model using .fit()
linear_model.fit(x_train,y_train)

LinearRegression()

In [16]:
y_pred=linear_model.predict(x_test) #.predict() used for predicting the future values

In [17]:
print(y_pred) #y_pred is the amount of health insurance as calculated by the ML model

[35406.94378448  9671.99892553 10583.65465844 25678.70035255
  7518.94550925 30801.9757518   9395.00010306  8081.91659247
  6266.37093262 12068.05361395 26332.94411169  6526.81904675
  9412.25919032  6107.25487377  4279.05263589 35655.44213924
 34863.6927308  28158.63789677  9967.06313919   303.29900491
  3677.42118138 12786.40068487 11524.31506912  1929.17894614
  6300.84395409 35565.29404058 25715.04732382  5338.22142274
 11695.06236325 15087.25488756  9178.60445445 30104.78478632
  1905.38802873  5878.54784136 14200.42143926 13517.96022991
  7383.60364891 12541.66854101  3595.32871179 10060.66357654
  5930.14025235 29595.55789911 31412.82502592  3004.00677189
  3478.07549452 14275.89695487 14286.43936118  9304.96140297
  6025.6185733  10088.07761071  7582.68979577 31755.56326161
 13578.65637214  5587.87750386   974.5021149   9225.9074312
  8118.13980374  5665.92098675 38238.64468869 17630.96728431
 10373.3529661  12909.34314969  7082.15304064  3241.75329003
 24649.14253794 13978.62873975 13618.09641513 10916.14526756
 12087.2242643  15006.33192265 14138.48191644  7827.36738181
 22562.52019488  6795.61262911 11869.13588766 11738.95817044
  6594.44834751  6377.11845949  9067.68799846 10979.99895266
 39351.43886823 29784.33950411  5486.89220305  5385.0964389
 -1795.97495953 17270.5563622  11532.0140304   5003.0463844
 12833.51592295  7993.15001189 15146.03215256  5844.4121696
 12109.58851058 33305.12117083  9981.17668754  5963.90489491
  7938.24362532  7600.69827166 30627.52624152  3781.90137476
  9760.40883833  8951.87345627  2162.28431891 35228.58578247
  3996.84656996 -1467.76622882 27000.69252551 28437.78850427
 13726.15506466  4275.59793972  9156.94207019 12504.07817308
 27033.95584589  5720.25215917 13335.53863807 11507.22935909
  4540.80601863 28078.49956023 14884.08111784  4609.3721419
 11682.91048771 11106.05380729  5540.5270005  11448.55677771
 -1039.50251901  4989.99552527  5081.86013424 15990.44139224
 13043.28261362 31643.51987089 13738.96570186 11465.9892422
 28060.37959514  2465.15899913 12803.61461907  8325.64062101
 12115.59681262  2396.70932172 11507.35571826  5773.45899603
 12220.7853849  11668.20004966  4198.87172939 11455.26850199
 14198.40779173 35972.23767249 10550.94070116 14571.81968887
  2105.68231643 38658.87704418   716.83555778  5808.95686779
  3373.24123254 15427.47030902 37533.18946108 29429.38492175
 10365.13336456 13969.64382793  1297.22318383 40364.89036529
 11240.16664846  5413.56611499  2457.04643869 26624.68445254
 35250.26252816 14488.82850253 13691.42250319 -2069.06033362
  5152.15008195 12496.9285749  11027.77010247  4665.67936463
  5473.56588226 15432.69843079  7248.95816354 11290.86738999
 14937.83967528  1986.47000945 10070.84435842  8068.76860557
  4676.65468819 10005.20287022 13529.32983455  4001.79923006
 10759.031094    3077.25661049 33388.9019422  10890.64043902
 16668.02383347 11233.73038584 13624.88698805  9712.15726075
 27994.61670443  9326.90709343 11780.43613569  7345.95376651
 13127.68115302 15750.65953493  4232.10137027  7637.26119011
 10956.64095248  5415.65861116  5810.04123257 13896.67440765
  5251.04052911  6132.15105036 14766.26964702 27493.91361935
  3079.60109083  1873.87725563 14376.40912595  4341.5960957
  3203.63287708  4341.47964985  7361.03523376 14138.58400087
 30662.50842969  7486.72399976  3432.27048171  9499.06905475
 33917.23314361 10510.8586154  34496.48887828  2130.34062857
 12112.07528784  8885.26404915 11416.08304235 35562.00331688
  3221.02514518 12639.13725761  9294.35710861  6531.33383296
 11353.83436228  5194.45784471 37398.55597966 10565.60598616
 10660.14064684  5477.90729123  6897.4157074  10812.95362391
  3767.669007   18729.1457961   5800.39049571 11122.31914066
 22120.84895815 35266.70619542  7234.08870968 35296.67879211
 34792.68002667   165.08002004  9409.71054111  9688.15275362
 11192.98011757 31578.80530797  6142.26289691 12613.01622128
 10084.19495395  4280.53128174 11415.90470846 27352.06160442
 13384.0280801   5446.27511562 11489.48537987 10445.14087774
 11486.3680334  36712.80640409  3687.53067046 13076.09369869]

In [18]:
#checking accuracy of the ML model
accuracy=linear_model.score(x,y)

In [19]:
print("The accuracy of the ML model using Linear Regression algorithm is",accuracy)

The accuracy of the ML model using Linear Regression algorithm is 0.7498107243343908

predicting the health insurance of a new customer

In [30]:
#creating data for a new customer
data_new={'age':65,'sex':0,'bmi':26,'children':3,'smoker':1,'region':3}

In [31]:
#converting the dict into a dataframe
index=[1] #serial number
my_data=pd.DataFrame(data_new,index)

In [32]:
my_data

   age  sex  bmi  children  smoker  region
1   65    0   26         3       1       3

In [33]:
#predicting the amount of health insurance the new customer is going to get
predictions=linear_model.predict(my_data)

In [34]:
print("The amount of health insurance for new customer is",predictions)

The amount of health insurance for new customer is [37907.49302769]